<template>
  <div>
    <div class="search-wrapper">
      <span class="refresh" v-on:click="resetForm" v-if="users || error">X delete search</span>
      <span v-if="!users || !error">&nbsp;</span>
      <input type="text" autofocus placeholder="Search for users" v-on:keyup.enter="submit" v-on:keydown.down="upAndDown" v-on:keydown.up="upAndDown" v-on:keyup.esc="resetForm()" v-model="search">
      <div class="users" v-bind:class="{ error : error}" v-if="searchform">
        <span v-if="searching">Searching...</span>
        <span v-if="error" class="error">Error: {{errorMessage}}</span>
        <ul v-if="users">
          <li v-for="user in users" v-bind:key="user.index" @mouseover="hover(user)" v-bind:class="{ selected : user.selected}" v-on:click="selectedOnClick(user)">
            <a href="#">
              <img v-bind:src="user.avatar_url" />
              <span>{{ user.login }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  name: 'GithubSearch',
  data () {
    return {
      search: '',
      searching: false,
      error: false,
      errorMessage: {},
      users: '',
      token: 'ba6b2d9e9d1968eba65496073787e122f6789a26'
    }
  },
  methods: {
    hover: function (user) {
      let selectedUser = this.findSelectedUser()
      // create object with actual user
      let actualUser = this.users[selectedUser]
      // set selected to false
      actualUser.selected = false
      // replace object to this.users on right index
      Vue.set(this.users, selectedUser, actualUser)
      // set selected status to hovered item
      user.selected = true
    },
    searchRequest: function () {
      // always reset the result & error field
      this.users = ''
      this.error = ''
      // show "is searching" field
      this.searching = true
      // do request and get the results
      axios.get(`https://api.github.com/search/users?q=` + this.search + '&access_token=' + this.token)
        .then(response => {
          // hide the "is searching" field
          this.searching = false
          // if no user found show error message with no user found
          if (response.data.items.length === 0) {
            this.users = ''
            this.errorMessage = 'No user found'
            this.error = true
          } else {
            // if there are users attach them to scope
            this.users = response.data.items
            // make first item selected
            this.users[0].selected = true
          }
        })
        .catch(error => {
          // get api error messsage and attach to error field
          this.errorMessage = error.response.data.message
          // hide searching message
          this.searching = false
          // show error field
          this.error = true
        })
    },
    findSelectedUser: function () {
      // returns the index of the user which is selected
      const user = this.users.findIndex(function (value) {
        if (value.selected === true) {
          return value
        }
      })
      return user
    },
    resetForm: function () {
      this.search = ''
      this.users = ''
      this.error = ''
    },
    upAndDown: function (key) {
      /* @PARAMS (direction) 'up' for going up, 'down' for scrolling down */
      if (this.search !== '') {
        // if arrow down counter increments 1 - arrow up decreases 1
        let counter = (key.code === 'ArrowDown') ? 1 : -1
        const length = this.users.length - 1
        // find the index of selected user
        let selectedUser = this.findSelectedUser()
        // check if we are going up and we are on top of page
        if (key.code === 'ArrowUp' && selectedUser === 0) return // do nothing
        // check if wer are going down and we are at bottom of selection
        if (key.code === 'ArrowDown' && selectedUser === length) return // do nothing
        // create object with actual user
        let actualUser = this.users[selectedUser]
        // delete selected key
        actualUser.selected = false
        // replace object to this.users on right index
        Vue.set(this.users, selectedUser, actualUser)
        // nextUser
        let crement = selectedUser + counter
        // create object
        let nextUser = this.users[crement]
        // set selected to true
        nextUser.selected = true
        // replace object to this.users on right index
        Vue.set(this.users, crement, nextUser)
        // set focus to selected element
        const anchor = document.querySelector('.selected a')
        anchor.focus()
        // set focus back to input field for using cursors
        document.querySelector('input').focus()
        /*
        @todo: when scrolling it appears a little box with the last user in the selection box.
        Dont know how to fix that at the moment
        */
      }
    },
    submit: function () {
      if (this.search !== '') {
        // find the index of selected user
        const selectedUser = this.findSelectedUser()
        // find url
        const url = this.users[selectedUser].html_url
        // goto url
        window.location.href = url
      }
    },
    selectedOnClick: function (user) {
      // go to url from selected user
      window.location.href = user.html_url
    }
  },
  computed: {
    searchform: function () {
      // if search input is not empy start searching github API
      if (this.search !== '') {
        // run search function
        this.searchRequest()
        return true
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
// import colors
@import '../assets/stylesheets/colors.scss';

//center searchform and apply width
.search-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  position: relative;
}

.refresh:hover {
  cursor: pointer;
  color: $gray;
}

input,
.users {
  width: 100%;
}

//correct the input width
input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 40px;
  padding: 5px;
  font-size: 18px;
}

.users {
  background-color: $lightgrey;
  height: auto;
  position: absolute;
  max-height: 408px;
  overflow-y: auto;

  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0;
    overflow-y: hidden;

    li {
      border-bottom: 1px solid $white;
      height: 50px;
      color: $black;

      span {
        position: absolute;
        transform: translateY(50%);
        padding-left: 5px;
      }

      a {
        color: $black;
      }
    }
    li:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: $highlighted;
  }

  &.error {
    background-color: $red;
    color: $white;
  }

  img {
    width: 50px;
  }
}
</style>
