<template>
  <div id="app">
    <h1>Search for Github Users!</h1>
    <github-search></github-search>
    <h2>Page for testing the GIT Api</h2>
    <div class="box">
      <h2>Box Title</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</template>

<script>
import GithubSearch from './components/GithubSearch'

export default {
  name: 'app',
  components: {
    GithubSearch
  }
}
</script>

<style lang="scss">
// import colors
@import 'assets/stylesheets/colors.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
  margin-top: 60px;

  .box {
    padding: 20px;
    background-color: $gray;
    color: $white;
  }
}
</style>
